/* 공통사항 */
body {
	font-family: 'Merriweather', serif;
	font-size: 14px;
	color: #222;
	height: 5000px;
}

.wrap {
	max-width: 1100px;
	margin: 0 auto;
}

h2, h3 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: normal;
	letter-spacing: 5px;
}
h2 {
	padding: 24px 0;
	font-size: 36px;
}
h3 {
	padding: 16px 0;
	font-size: 18px;
	color: #444;
}
p {
	padding: 16px 0;
	line-height: 2;
}

/* HEADER */
header {
	width: 100%;
	position: fixed;
	padding: 8px 16px;
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

header > .logo,
header > .nav-wrap > div {
	padding: 10px 12px;
	cursor: pointer;
	letter-spacing: 4px;
}

header > .logo:hover,
header > .nav-wrap > div:hover {
	background-color: #ccc;
}


/* MAIN */


/* SECTION - ABOUT */
.about-wrap {
	padding: 80px 0;
}
.about-wrap > .wrap > div {
	width: 48%;
}
.about-wrap img {
	opacity: 0.8;
}


/* SECTION - MENU */


/* SECTION - CONTACT */


/* FOOTER */