/* 공통사항 */
.wrap {
	max-width: 1100px;
	margin: 0 auto;
}

/* HEADER */
header {
	background-color: aquamarine;
}

/* MAIN */


/* SECTION - ABOUT */


/* SECTION - MENU */


/* SECTION - CONTACT */


/* FOOTER */