/* PC */
.wrap {
	border: 5px solid #f00;
	max-width: 960px;
	margin: auto;
}
.box {
	width: 24%;
	margin: 0 0.6666%;
	float: left;
}
.wrap > :first-child {
	margin-left: 0;
}
.wrap > :last-child {
	margin-right: 0;
}

/* Tablet 가로 */
@media screen and (max-width: 992px) {
	
}

/* Tablet 세로 */
@media screen and (max-width: 768px) {
	.box {
		width: 48%;
		margin: 1%;
	}
	.wrap > :first-child {
		margin-left: 1%;
	}
	.wrap > :last-child {
		margin-right: 1%;
	}
}

/* 스마트폰 가로 */
@media screen and (max-width: 575px) {
	.box {
		width: 98%;
	}
}

/* 스마트폰 세로 */
@media screen and (max-width: 320px) {

}


