/* 공통사항 */
body {
	font-family: 'Merriweather', serif;
	font-size: 14px;
	color: #222;
}

.wrap {
	max-width: 1100px;
	margin: 0 auto;
}

h2, h3 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: normal;
	letter-spacing: 5px;
}
h2 {
	padding: 24px 0;
	font-size: 36px;
}
h3 {
	padding: 16px 0;
	font-size: 18px;
	color: #444;
}
p {
	padding: 16px 0;
	line-height: 2;
}

/* HEADER */
header {
	width: 100%;
	position: fixed;
	z-index: 10;
	padding: 8px 16px;
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

header > .logo,
header > .nav-wrap > div {
	padding: 10px 12px;
	cursor: pointer;
	letter-spacing: 4px;
}

header > .logo:hover,
header > .nav-wrap > div:hover {
	background-color: #ccc;
}


/* MAIN */


/* SECTION - ABOUT */
.about-wrap {
	padding: 80px 0;
}
.about-wrap > .wrap > div {
	width: 48%;
}
.about-wrap img {
	opacity: 0.7;
}
.about-wrap img:hover {
	opacity: 1;
}


/* SECTION - MENU */
.menu-wrap {
	padding: 80px 0;
}
.menu-wrap > .wrap > div {
	width: 48%;
}
.menu-wrap h3 {
	text-align: left;
}
.menu-wrap li {
	margin-bottom: 16px;
}
.menu-wrap p {
	padding: 8px 0;
}

/* SECTION - CONTACT */
.contact-wrap {
	padding: 80px 2%;
}
.contact-wrap input {
	display: block;
	width: 100%;
	padding: 16px;
	font-size: 18px;
	margin: 16px 0;
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
}

/* FOOTER */
footer {
	background-color: #eee;
	text-align: center;
	padding: 60px 0;
}

@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 768px) {
	.nav-wrap {
		display: none;
	}
	.menu-wrap > .wrap > div {
		width: 96%;
		margin: 0 2%;
	}
}

@media screen and (max-width: 480px) {
	.about-wrap .about-img {
		display: none;
	}
	.about-wrap > .wrap > div {
		width: 100%;
		padding: 0 2%;
	}
}